#header {
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-app-region: drag;
  z-index: 100 !important;
  background: #549688;
}

#container {
  margin-top: 46px;
}

.van-nav-bar .van-icon {
  color: white;
  vertical-align: middle;
}

.van-nav-bar__title{
    color: white;
}